// Course modal style

.coursemodal__table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    margin: 0;
    overflow-x: hidden;
}

.coursemodal__table td,
.coursemodal__table th {
    padding: 0.5rem;
    vertical-align: top;
}

.coursemodal__table th {
    text-align: left;
    background-color: rgba(22, 109, 232, .8);
    color: white;
}

.ope-list {
    list-style-type: none;
    padding-left: 0;
}