.filter-open::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.filter-open {
    outline: 0;
}

.filter-checkbox {
    width: 100%;
    text-align: center;
}

.checkbox-inline {
    float: left;
    width: 33.33%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.centerwbg {
    text-align: center;
    background-color: $linkcolor;
    border-radius: 5px;
    border: 1px solid lightblue;
}