// Toast notification content
.toastMessage {
    height: 70px;
    text-align: center;
    align-content: center;
}

// Animation for toast notifications
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    to {
        opacity: 0;
    }
}

.zoomOut {
    animation-name: zoomOut;
}

.animate {
    animation-duration: 500ms;
}