@charset "UTF-8";
.btn {
  color: #222;
  background: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: block;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; }
  .btn:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48; }
  .btn svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .btn rect {
    fill: none;
    stroke: #222;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }
  .btn:hover {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48; }

.container-custom {
  width: 90%;
  margin: 0 auto;
  max-width: 960px; }
  @media (min-width: 992px) {
    .container-custom {
      max-width: 1000px;
      box-sizing: border-box;
      margin: auto; } }

.no-overflow {
  overflow: hidden; }

.content {
  padding-top: 106px; }
  @media (min-width: 992px) {
    .content {
      padding-top: 140px;
      margin: 0 0px; } }

.grid-2 {
  width: 49%;
  float: left;
  margin: 0 1% 0 0; }

.grid-2::last-of-type {
  margin: 0 0 0 1%; }

.grid-2::nth-of-type(2n) {
  margin: 0 0 0 1%; }

.grid-2::nth-of-type(2n)::after {
  content: "";
  display: table;
  clear: left; }

header {
  position: fixed;
  height: 71px;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  z-index: 60; }
  @media (min-width: 992px) {
    header {
      height: 130px;
      border: none;
      max-width: 1000px;
      z-index: 600; } }
  header .App-logo {
    margin-left: 4px;
    padding-top: 6px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; }
    @media (min-width: 992px) {
      header .App-logo {
        padding-top: 16px;
        margin: auto;
        position: relative;
        align-content: center; } }

.dropdown {
  display: block;
  height: 51px;
  width: 100%;
  margin-bottom: 5px;
  position: absolute;
  top: 0px;
  right: 0; }
  @media (min-width: 992px) {
    .dropdown {
      margin-top: 65px;
      align-content: center;
      background-color: white; }
      .dropdown hr {
        display: none; } }

.dropdown__content {
  display: none;
  position: absolute; }
  @media (min-width: 992px) {
    .dropdown__content {
      width: 100%;
      display: block;
      border: none !important;
      box-shadow: none !important;
      background: #ffffff; } }

.dropdown--active .dropdown__content {
  display: block;
  background-color: #ffffff;
  border-top: none;
  box-shadow: 0px 2px 10px rgba(78, 78, 128, 0.75) !important;
  border-radius: 0 0 10px 10px;
  margin: auto;
  top: 61px;
  left: 0;
  right: 0; }

.main_menu-dropdown__avatar {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-top: 15px;
  border-radius: 3px;
  float: right; }
  @media (min-width: 992px) {
    .main_menu-dropdown__avatar {
      display: none; } }

.main_menu-dropdown .dropdown__trigger {
  line-height: 20px;
  position: absolute;
  right: 0; }

.main_menu-dropdown .dropdown__trigger:hover {
  cursor: pointer; }

.main_menu-dropdown__avatar,
.main_menu-dropdown__name {
  vertical-align: middle; }

.main_menu-dropdown .dropdown__content {
  border-top: rgba(0, 0, 0, 0.05) 1px solid;
  background: #ffffff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15); }

.main_menu-dropdown__quick-links,
.main_menu-dropdown__management-links {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.main_menu-dropdown__segment {
  padding: 10px 15px;
  border-bottom: #e1e1e1 1px solid; }

.main_menu-dropdown__link {
  margin: 5px 0; }
  @media (min-width: 992px) {
    .main_menu-dropdown__link {
      float: left;
      border: 1px solid #fff;
      padding: 10px; } }

@media (min-width: 992px) {
  .main_menu-dropdown__link:last-child {
    float: right !important; } }

.dropdown hr {
  margin: 15px 0; }

.toastMessage {
  height: 70px;
  text-align: center;
  align-content: center; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  animation-name: zoomOut; }

.animate {
  animation-duration: 500ms; }

table {
  border-collapse: collapse;
  width: 90vw;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent; }

.table {
  font-size: 12px;
  overflow-x: hidden; }

.table__data--allcourses {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid #dee2e6;
  font-size: 12px;
  margin-top: 10px;
  overflow-x: hidden; }

.table__data--allcourses td,
.table__data--allcourses th {
  padding: 0.75rem;
  vertical-align: top; }

.table__data--allcourses tr:nth-child(even) {
  background-color: #f2f2f2; }

.table__data--allcourses th {
  text-align: left;
  background-color: #1E79BF;
  color: white; }

@media (max-width: 767px) {
  .hideInMobile {
    display: none; } }

.search_container--filter--input-addon {
  position: relative;
  background-clip: padding-box;
  background-color: #eee;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.532rem 0.75rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  @media (min-width: 992px) {
    .search_container--filter--input-addon {
      padding: 0.530rem 0.75rem !important; } }

.search_container--filter--input-addon i {
  color: #999;
  text-decoration: none; }

.search__container--all,
.search__container--filter {
  position: fixed;
  box-sizing: border-box;
  margin: auto;
  display: block;
  top: 73px;
  height: 40px;
  width: 90vw;
  max-width: 960px;
  z-index: 50; }
  @media (min-width: 992px) {
    .search__container--all,
    .search__container--filter {
      position: relative;
      top: 180 !important;
      z-index: 500 !important; } }

.search_container--all--input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
  outline: 0; }
  @media (min-width: 992px) {
    .search_container--all--input {
      position: relative;
      top: -70px !important;
      left: 0px;
      width: 300px; } }

.search_container--filter--input {
  width: calc(100% - 30px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  box-sizing: border-box;
  outline: 0; }

.search_container--all--input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1E79BF;
  outline: 0; }
  @media (min-width: 992px) {
    .search_container--all--input:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 86, 179, 0.25); } }

.input__search--timetable {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
  outline: 0; }

.select__search--timetable {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 17px;
  /* For IE 8 compatibility */
  padding: 0.375rem 0.75rem;
  -webkit-appearance: none; }

.Select {
  position: relative; }

.Select input::-webkit-contacts-auto-fill-button,
.Select input::-webkit-credentials-auto-fill-button {
  display: none !important; }

.Select input::-ms-clear,
.Select input::-ms-reveal {
  display: none !important; }

.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35; }

.Select.is-disabled > .Select-control {
  background-color: #f9f9f9; }

.Select.is-disabled > .Select-control:hover {
  box-shadow: none; }

.Select.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9; }

.Select.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px; }

.Select.is-searchable.is-focused:not(.is-open) > .Select-control,
.Select.is-searchable.is-open > .Select-control {
  cursor: text; }

.Select.is-focused > .Select-control {
  background: #fff; }

.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  background: #fff; }

.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 42px; }

.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333; }

.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label,
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }

.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover {
  color: #007eff;
  outline: none;
  text-decoration: underline; }

.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  background: #fff; }

.Select.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select.is-open .Select-arrow,
.Select .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666; }

.Select.Select--rtl {
  direction: rtl;
  text-align: right; }

.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }

.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }

.Select-control .Select-input:focus {
  outline: none;
  background: #fff; }

.Select--single > .Select-control .Select-value,
.Select-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }

.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 17px;
  padding: 8px 0 12px;
  -webkit-appearance: none; }

.is-focused .Select-input > input {
  cursor: text; }

.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: none; }

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  text-align: center; }

.Select-loading,
.Select-loading-zone {
  position: relative;
  vertical-align: middle;
  width: 16px; }

.Select-loading {
  -webkit-animation: Select-animation-spin 0.4s infinite linear;
  -o-animation: Select-animation-spin 0.4s infinite linear;
  animation: Select-animation-spin 0.4s infinite linear;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block; }

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 0.2s;
  -o-animation: Select-animation-fadeIn 0.2s;
  animation: Select-animation-fadeIn 0.2s;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px; }

.Select-clear-zone:hover {
  color: #d0021b; }

.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 17px; }

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px; }

.Select--rtl .Select-arrow-zone {
  padding-right: 0;
  padding-left: 5px; }

.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative; }

.Select-control > :last-child {
  padding-right: 5px; }

.Select--multi .Select-multi-value-wrapper {
  display: inline-block; }

.Select .Select-aria-only {
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left; }

@-webkit-keyframes Select-animation-fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  display: block;
  padding: 8px 10px; }

.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.Select-option.is-selected {
  background-color: #f5faff;
  background-color: rgba(0, 126, 255, 0.04);
  color: #333; }

.Select-option.is-focused {
  background-color: #ebf5ff;
  background-color: rgba(0, 126, 255, 0.08);
  color: #333; }

.Select-option.is-disabled {
  color: #ccc;
  cursor: default; }

.Select-noresults {
  box-sizing: border-box;
  color: #999;
  cursor: default;
  display: block;
  padding: 8px 10px; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }

.Select--multi.Select--rtl .Select-input {
  margin-left: 0;
  margin-right: 10px; }

.Select--multi.has-value .Select-input {
  margin-left: 5px; }

.Select--multi .Select-value {
  background-color: #ebf5ff;
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top; }

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }

.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px; }

.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none; }

.Select--multi a.Select-value-label:hover {
  text-decoration: underline; }

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px; }

.Select--multi .Select-value-icon:focus,
.Select--multi .Select-value-icon:hover {
  background-color: #d8eafd;
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6; }

.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  background-color: rgba(0, 126, 255, 0.24); }

.Select--multi.Select--rtl .Select-value {
  margin-left: 0;
  margin-right: 5px; }

.Select--multi.Select--rtl .Select-value-icon {
  border-right: none;
  border-left: 1px solid #c2e0ff;
  border-left: 1px solid rgba(0, 126, 255, 0.24); }

.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333; }

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3; }

.Select--multi.is-disabled .Select-value-icon:active,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:hover {
  background-color: #fcfcfc; }

.CourseModal--overlay {
  position: fixed;
  max-width: 970px;
  height: 100vh;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 60;
  background-color: rgba(255, 255, 255, 0.75); }

.CourseModal {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 5px; }

.ReactModal_Content .ReactModal_Content--after-open {
  position: relative;
  padding: 0;
  min-height: calc(100vh - 75px) !important; }
  @media (min-width: 992px) {
    .ReactModal_Content .ReactModal_Content--after-open {
      height: 200px !important;
      min-height: none !important; } }

.ReactModalPortal > * {
  margin-top: 100vh; }

.ReactModal__Overlay {
  transition: margin-top 600ms ease-in-out;
  background: rgba(0, 100, 100, 0.15); }
  .ReactModal__Overlay--after-open {
    margin-top: 0; }
  .ReactModal__Overlay--before-close {
    margin-top: 100vh; }

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
  min-height: calc(100vh - 30px);
  box-sizing: border-box; }

.modal-footer {
  margin-top: 10px;
  border-top: 1px solid #888;
  padding-top: 10px; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none; }

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.coursemodal__table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 11px !important;
  margin: 0;
  overflow-x: hidden; }

.coursemodal__table td,
.coursemodal__table th {
  padding: 0.7rem;
  vertical-align: top; }

.coursemodal__table th {
  text-align: left;
  background-color: #1E79BF;
  color: white; }

.ope-list {
  list-style-type: none;
  padding-left: 0; }

.btn__modal--add,
.btn__modal--close {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
  outline: 0; }

.btn__modal--close {
  background-color: green;
  border-color: #1e7e34;
  color: white; }

.btn__modal--close:hover {
  background-color: #218838;
  border-color: #1e7e34; }

.btn__modal--add {
  background-color: #1E79BF;
  border-color: #1E79BF;
  color: white; }

.filter-open::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.filter-open {
  outline: 0; }

.filter-checkbox {
  width: 100%;
  text-align: center; }

.checkbox-inline {
  float: left;
  width: 33.33%; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.centerwbg {
  text-align: center;
  background-color: #83C669;
  border-radius: 5px;
  border: 1px solid green; }

.filtermodal__button--select,
.filtermodal__button--deselect,
.filtermodal__button--filter {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
  outline: 0; }

.filtermodal__button--filter {
  width: 100%;
  background-color: green;
  border-color: #1e7e34;
  color: white; }

.filtermodal__button--select {
  background-color: #b3bbd0; }

.filtermodal__button--deselect {
  background-color: #b3bbd0; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin-top: 0;
  margin-bottom: .5rem; }

.root {
  margin: 0; }

.nowrap {
  white-space: nowrap; }

a {
  color: #1E79BF;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  outline: 0 !important; }

a:focus {
  text-decoration: underline; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

.red {
  color: red; }

.has-error {
  border: 1px solid red;
  box-shadow: inset 0 1px 1px rgba(51, 219, 88, 0.075), 0 0 8px #f12d2d99; }

.sweet-loading {
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding-left: 2px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(78, 78, 128, 0.75), transparent); }

.loginForm {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center; }

.center {
  text-align: center; }

.btn {
  color: #222;
  background: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: block;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; }
  .btn:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48; }
  .btn svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .btn rect {
    fill: none;
    stroke: #222;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }
  .btn:hover {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48; }

.icon-next::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }

.icon-prev::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }

.icon-video::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: "";
  font-size: 1.625rem; }

.icon-up::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }

.icon-down::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }

.icon-home::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }

.icon-mail::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }

.icon-person::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }

.icon-phone::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }

.icon-mobile::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: "";
  font-size: 125%; }

.icon-map-marker::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon";
  content: ""; }
